@use "../base" as *;

.volume {
  @include backlit(hotpink);
  color: pink;
}

.microphone {
  @include backlit(orange);
  color: orange;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.muted {
  $light-red: #ff5555;
  @include backlit($light-red);
  color: $light-red;
}

.mic-muted {
  @include backlit(skyblue);
  color: skyblue;
}
