@use "visualizer/visualizer";
@use "battery/battery";
@use "volume/volume";
@use "mango-tags/tags";
@use "base" as *;

$glow-shadow-col: #ec38bc;

.status-bar {
  font: {
    /* family: "LIBRARY 3 AM"; */
    family: "Aquire";
    size: 20px;
    weight: bold;
  }

  color: black;
  


  &.background {
    // https://uigradients.com/#Moor
    /* background-color: rgba(255,255,255,0.3); */
    /* background: linear-gradient(to right, #1D2671, #C33764); */
    /* background: linear-gradient(to right, rgba(29, 38, 113, $top-bar-alpha), rgba(195, 55, 100, $top-bar-alpha)); */
    background: $main-gradient;
  }


  &__center .time {
    @include glow-text($glow-shadow-col);
    /* font-size: 1.2em; */
    font-size: 27px;
    color: #fff;
    padding: 0;
    margin: 0;
    /* padding: 10px; */
    /* margin: 10px; */
    /* color: red; */
  }
}

.right-side {
  margin-right: 10px;
}

.systray {
  margin: {
    right: 10px;
  }

  /* background: black; */
  background: rgba(50, 50, 50, 0.4);
  box-shadow: 2px 2px 10px green;

  border: {
    radius: 10px;
  }
}
