/* @use "../colors" as *; */
@use "../base" as *;

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
  /* color: @foreground; */
  background: none;
  margin: 0;
  padding: 0;

  &-player {
    /* padding: 50px; */
    margin: 10px;
    /* color: $foreground; */
    color: white;
    /* padding-bottom: 0; */
    /* margin-bottom: 0; */
  }

  &-title {
    font-weight: bold;
    font-size: 1.25rem;
    /* color: $foreground; */
    color: white;
    letter-spacing: 1px;
    font: bold 1em $interface-font;
  }

  &-subtitle {
    font-size: 1;
    color: $foreground;
  }
}
